RESEND_API_KEY=
ENQUIRY_EMAIL_TO=info@itembagrouptz.com
ENQUIRY_EMAIL_FROM=Itemba Group Website <website@itembagrouptz.com>
ENQUIRY_STORAGE_DIR=/tmp/itemba-enquiries
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GTM_ID=
GOOGLE_SITE_VERIFICATION=
